* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}